@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  background: $bg;
}

#canvas {
  display: block;
  cursor: crosshair;
}
